<launch>
    <arg name="first_tb3"  default="robot_1"/>
    <arg name="second_tb3" default="robot_2"/>
    <arg name="third_tb3"  default="robot_3"/>

    <node name="$(arg first_tb3)_assigner" pkg="frontier_based_exploration" type="assigner.py" output="screen">
        <param name="map_topic" value="/robot_1/map"/>
        <param name="namespace" value="robot_1"/>
    </node>

    <node name="$(arg second_tb3)_assigner" pkg="frontier_based_exploration" type="assigner.py" output="screen">
        <param name="map_topic" value="/robot_2/map"/>
        <param name="namespace" value="robot_2"/>
    </node>

    <node name="$(arg third_tb3)_assigner" pkg="frontier_based_exploration" type="assigner.py" output="screen">
        <param name="map_topic" value="/robot_3/map"/>
        <param name="namespace" value="robot_3"/>
    </node>


<!-- http://wiki.ros.org/rospy_tutorials/Tutorials/Makefile -->
</launch>